## Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

## Build
*.VisualState.xml
TestResult.xml
[Dd]ebugPublic/

## VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

## Environment Secrets
.env
.env.*
.env.local
!.env.example

## ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini

## macOS
.DS_Store
.AppleDouble
.LSOverride